.feedback-form {
    padding-left: 15px;
}

.feedback-form__label {
    color: #4caf50;
    font-size: x-large;
}

.feedback-form__input {
    width: 20rem;
    height: 2rem;
    color: #111;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #bdbdbd;
}