$black: #111;

.navigation {
  display: inline-block;
  height: 180px;
  color: 'pink';
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  font-weight: bolder;
  text-align: left;
  vertical-align: top;
}
