$black: #111;
$green: #4caf50;
$small: 576px;
$medium: 768px;
$large: 992px;

.registration {
  background-color: $green;
  color: $black;
  font-size: xx-large;
  text-align: left;
  width: 200px;
  padding-left: 15px;
  border-radius: 15px;
}
