$grey: #bdbdbd;
$white: #fff;
$black: #111;
$green: #4caf50;

.sendMessage-form {
    padding-left: 15px;
}

.sendMessage-form__label {
    color: $green;
    font-size: x-large;
}

.sendMessage-form__input {
    width: 20rem;
    height: 2rem;
    color: $black;
    background-color: $white;
    border-color: $grey;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $grey;
}